* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(217, 54%, 11%);
}

img.img1 {
    max-width: 100%;
       min-width: 350px;
       border-radius: 20px;
       margin-bottom: 25px;
      }

img.img2 {
    max-width: 100%;
       width: 30px;
       margin-right: 10px;
       border: 1px solid white;
       border-radius: 50%;
}

h2 {
    color: white;
    margin-bottom: 25px;
}

h2:hover {
    color: aqua;
}

p.p1 {
    color: hsl(215, 51%, 70%);
    margin-bottom: 20px;
}

p.p2 {
    color: cyan;
    font-weight:bolder;
    margin-left: 5px;
}

p.p3 {
    color: hsl(215, 51%, 70%);
    margin-left: 5px;
}

p.p4 {
    color: hsl(215, 51%, 70%);
    margin-right: 10px;
}

p.p5 {
    color: white;
}

p.p5:hover {
    color: cyan;
}

hr {
    border:0;
    margin:0;
    width:100%;
    height:2px;
    background:hsla(215, 52%, 70%, 0.166);
    margin-bottom: 25px;
}

.container {
   flex-direction: column;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   min-width: 350px;
   max-width: 350px;
   background-color: hsla(215, 52%, 70%, 0.132);
   padding: 20px;
   border-radius: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;
}

.container3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.container4 {
    display: flex;
    flex-direction: row;
}